{% extends "wrapper.html" %}

{% block content %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/orders.css' %}" type="text/css">

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Course project</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/..">Домой</a></li>
        <li><a href="organizations">Организации</a></li>
        <li class="active"><a href="orders">Заказы</a></li>
        <li><a href="authentication">Вход</a></li>
      </ul>
    </div>
  </div>
</div>

<div>
    <h2 id="desc">Список заказов</h2>
    <form action="orders" method="post"> {% csrf_token %}
      <div class="form-group" id="status-form">
        <label for="status">Сортировать</label>
        <select class="form-control" name="sort">
          <option value="1" selected>По названию (вниз)</option>
          <option value="2">По названию (вверх)</option>
          <option value="3">По дате (вниз)</option>
          <option value="4">По дате (вверх)</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Сортировать</button>
    </form>
</div>

<div id="inside">
  <ul class="list-group list-group-flush">
    {% for order in db %}
      <li class="list-group-item list-group-item-action">
        <a href="order?title={{ order.title }}"> {{ order.title }}  </a>
        <ul class="list-group">
          <li><h4>Дата начала: {{ order.startdate }}</h4></li>
          <li><h4>Дата планируемого окончания: {{ order.enddate }}</h4></li>
          <li><h4>Статус: {{ order.status }}</h4></li>
        </ul>
      </li>
    {% endfor %}
  </ul>

</div>

{% endblock %}
