@import url('https://fonts.googleapis.com/css?family=Lato|Raleway');

#adminPanel {
  text-align: center;
  font-size: 25px;
  font-family: "Raleway";
  background-color: #9097A2;
  color: white;
  padding: 15px;
  margin: 0px;
}
form {
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 14px;
  background-color: #f2f2f2;
}

.form-group {
  padding-top: 9px;
}

.container-fluid {
  padding-top: 5px;
  padding-bottom: 7px;
  background-color: #e2e2f2;
}

.btn-success  {
  margin-top: 21px;
}

.btn-primary {
  margin-top: 17px;
}

#dates {
  float: left; /*Задаем обтекание*/
  margin-top: 5px;
  margin-right: 10px;
  text-align: center; /*Центрируем текст по горизонтали*/
}

#status-form {
  margin-top: 50px;
}
